{% extends "IODefaultBundle::layout.html.twig" %}

{% block body_class %}body body-recap{% endblock body_class %}
{% block content %}
<div id="recap-panel" class="container">
    <div id="order_step">
        <ul>
            <li class="active">Étape 1 : <strong>Mon panier</strong></li>
            <li>Étape 2 : <strong>Connexion</strong></li>
            <li>Étape 3 : <strong>Paiement</strong></li>
            <li>Étape 4 : <strong>Validation</strong></li>
        </ul>
    </div>
</div>

<div class="container recap">
    <h2>Mon panier</h2>
    <div class="product-list">
        <div class="row row-header">
<<<<<<< HEAD
            <div class="col-md-offset-2 col-md-4
                 col-sm-offset-3 col-sm-4
                 col-xs-offset-3 col-xs-4">
                Article
            </div>
            <div class="col-md-3">
                Nombre
            </div>
            <div class="col-md-2 price">
                Prix
=======
            <div class="col-md-offset-3 col-sm-offset-3 col-xs-offset-3 col-md-4 col-sm-4 col-xs-4">
                Article
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                Nombre
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                <span class="right">Prix</span>
>>>>>>> 175467e6c1607fa326fda39dc9c289d51a6482cf
            </div>
        </div>
    {% for data in cart.products|ordonate_products %}
    {% set product = data.product %}
    {% set count = data.count %}
        <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-3">
                <img class="img-rounded" src="{{ product.product_id|product_media|apiMedia }}" alt="" />
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <strong>{{ product.name }}</strong>
                <em>{{ product.extra }}</em>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                {{ count }} x {{ product.price|number_format(2, ',', ' ') }}€
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                <span class="right">{{ (count * product.price)|number_format(2, ',', ' ') }}€</span>
            </div>
        </div>
    {% endfor %}
        <div class="row">
            <div class="col-md-11 col-sm-11 col-xs-11">
                <span class="right total">Total HT : {{ cart.no_tax_total|number_format(2, ',', ' ') }}€</span>
                <span class="right total">Total TTC : {{ cart.total|number_format(2, ',', ' ') }}€</span>
            </div>
        </div>
    </div>

    <form action="{{ path('order_valid_recap') }}" method="POST">
        <div>
            <button href="{{ path('menu') }}" class="btn btn-default">Retour a la carte</button>
            <button href="#" class="btn btn-primary">Valider ma commande</button>
        </div>
    </form>
    <img id="scotch-recap-1" class="hidden-sm hidden-xs"
         src="{{ asset("bundles/iodefault/images/scotch1.png") }}"/>
    <img id="scotch-recap-2" class="hidden-sm hidden-xs"
         src="{{ asset("bundles/iodefault/images/scotch1.png") }}"/>
</div>
{% endblock content %}
