{% extends "IODefaultBundle::layout.html.twig" %}

{% block body_class %}
body body-traiteur
{% endblock body_class %}

{% block content %}
<div class="traiteur-page">
    <div class="traiteur-info">
        <img class="hidden-md hidden-sm hidden-xs"
             src="bundles/iodefault/images/kidnap.jpg"/>
        <h3><strong>Kidnap Mama</strong></h3>
        <p>
            Oportunum est, ut arbitror, explanare nunc causam, quae ad exitium praecipitem Aginatium inpulit iam inde a priscis maioribus nobilem, ut locuta est pertinacior fama. nec enim super hoc ulla documentorum rata est fides.<br/>
            Accedebant enim eius asperitati, ubi inminuta vel laesa amplitudo imperii dicebatur, et iracundae suspicionum quantitati proximorum cruentae blanditiae exaggerantium incidentia et dolere inpendio simulantium, si principis periclitetur vita, a cuius salute velut filo pendere statum orbis terrarum fictis vocibus exclamabant.<br/>
            Intellectum est enim mihi quidem in multis, et maxime in me ipso, sed paulo ante in omnibus, cum M. Marcellum senatui reique publicae concessisti, commemoratis praesertim offensionibus, te auctoritatem huius ordinis dignitatemque rei publicae tuis vel doloribus vel suspicionibus anteferre. Ille quidem fructum omnis ante actae vitae hodierno die maximum cepit, cum summo consensu senatus, tum iudicio tuo gravissimo et maximo. Ex quo profecto intellegis quanta in dato beneficio sit laus, cum in accepto sit tanta gloria.
        </p>
        <img id="scotch-kidnap-1" class="hidden-sm hidden-xs"
             src="{{ asset("bundles/iodefault/images/scotch1.png") }}"/>
        <img id="scotch-kidnap-2" class="hidden-sm hidden-xs"
             src="{{ asset("bundles/iodefault/images/scotch1.png") }}"/>
    </div>
    <div class="traiteur-form">
        <h3><strong>Commande traiteur</strong></h3>
        <form method="POST" action="{{ path('kidnap') }}">
            {{ form_errors(form) }}
            <div class="form-group">
            {{ form_row(form.firstname) }}
            </div>
            <div class="form-group">
            {{ form_row(form.lastname) }}
            </div>
            <div class="form-group">
            {{ form_row(form.email) }}
            </div>
            <div class="form-group">
            {{ form_row(form.date) }}
            </div>
            <div class="form-group">
            {{ form_row(form.number) }}
            </div>
            <div class="form-group">
            {{ form_row(form.adress) }}
            </div>
            <div class="form-group">
            {{ form_row(form.description) }}
            </div>
            {{ form_rest(form) }}
            <button class="btn btn-default btn-sm">Valider</button>
            <p><strong>On vous répond dans les 24h !</strong></p>
        </form>
        <img id="scotch-kidnap-3" class="hidden-sm hidden-xs"
             src="{{ asset("bundles/iodefault/images/scotch1.png") }}"/>
    </div>
</div>
{% endblock content %}