{% extends "IODefaultBundle::layout.html.twig" %}

{% block body_class %}body body-recap{% endblock body_class %}
{% block content %}
<div id="recap-panel" class="container">
    <div id="order_step">
        <ul>
            <li>Etape 1 : Mon panier</li>
            <li>Etape 2 : Connexion</li>
            <li class="active">Etape 3 : Paiement</li>
            <li>Etape 4 : Validation</li>
        </ul>
    </div>
</div>
<div id="payment" class="container recap">
    <h2>Paiement</h2>

    {% if error is defined %}
    <p class="error">{{ error }}</p>
    {% endif %}

    <div class="receipt">
        <strong>{{ restaurantName|default('InnovOrder') }}</strong>
        <em>Le {{ null|date('d/m/Y') }}, à {{ null|date('H:i:s') }}</em>
        <ul>
        {% for data in cart.products|ordonate_products %}
        {% set product = data.product %}
        {% set count = data.count %}
            <li>
                <span>{{ count }} {{ product.name }} - {{ product.extra }}</span>
                <em>{{ (count * product.price)|number_format(2, ',', ' ') }}€</em>
            </li>
        {% endfor %}
            <li class="total">
                <span>Total HT</span>
                <em>{{ cart.no_tax_total|number_format(2, ',', ' ') }}€</em>
            </li>
            <li>
                <span>TVA</span>
                <em>{{ cart.vat_amount|number_format(2, ',', ' ') }}€</em>
            </li>
            <li class="total">
                <span>Total TTC</span>
                <em>{{ cart.total|number_format(2, ',', ' ') }}€</em>
            </li>
        </ul>
    </div>

    <form method="POST" action="{{ path('payment_validate_without_payment') }}">
        <a class="btn btn-default" href="#">Paiement en ligne{# (CB, Visa, MasterCard)#}</a>
        <button class="btn btn-default">Paiement a la reception</button>
    </form>
    <img id="scotch-payment" class="hidden-sm hidden-xs"
         src="{{ asset("bundles/iodefault/images/scotch1.png") }}"/>
</div>
{% endblock content %}
