{% extends "IODefaultBundle::layout.html.twig" %}

{% block body_class %}
body-mama
{% endblock body_class %}

{% block content %}
<div class="article-liste">
    <div class="container">
    {% for article in articles %}
        <div class="article" id="article{{ loop.index }}">
            <a class="btn default_btn article-btn" href="#">{{ article.title }}</a>
            <div class="article-vignette">
                <img src="{{ asset(article.img) }}"/>
            </div>
            <h5><strong class="article-text">{{ article.title }}</strong></h5>
            <p class="article-text">{{ article.short }}</p>
            <p class="article-text article-content">{{ article.content }}</p>
        </div>
    {%endfor%}
    </div>
</div>
{% endblock content %}