<div id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-sn">
                <div class="social-network">
                    <a class="logo facebook" href="http://www.facebook.com">
                        <img src="{{ asset("bundles/iodefault/images/vide.png") }}"/>
                    </a>
                    <a class="logo twitter" href="https://twitter.com">
                        <img src="{{ asset("bundles/iodefault/images/vide.png") }}"/>
                    </a>
                    <a class="logo tripadvisor" href="http://www.tripadvisor.fr">
                        <img src="{{ asset("bundles/iodefault/images/vide.png") }}"/>
                    </a>
                    <a class="logo pinterest" href="https://fr.pinterest.com">
                        <img src="{{ asset("bundles/iodefault/images/vide.png") }}"/>
                    </a>
                </div>
            </div>
            <div class="hidden-xs col-md-2 col-sm-6 text" id="restaurant_address" >
                <p>ADRESSE DU RESTAURANT<br/>TEL.: 06 99 45 47 94</p>
            </div>
            <div class="hidden-sm hidden-xs col-md-2 col-sm-6 text">
                <a class="mentions-link" href="{{ path('mentions_legales') }}">MENTIONS LÉGALES</a>
                <p>PLAN DU SITE</p>
            </div>
            <div class="hidden-sm hidden-xs col-md-3 col-sm-6">
                <img class="city" src="{{ asset("bundles/iodefault/images/City.png") }}"/>
            </div>
            <div class="col-md-2 col-sm-6 text">&copy; MAMA STREET 2014<br/>tous droits réservés</div>
        </div>
    </div>
</div>