<nav id="site-header" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{{ path('homepage') }}">
                <img class="navbar-brand" src="{{ asset("bundles/iodefault/images/logo.jpg") }}" alt="MamaStreet" />
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('mama_responsable') }}">MAMA RESPONSABLE</a></li>
                <li><a href="{{ path('menu') }}">AUTHENTIC FOOD</a></li>
                <li><a href="{{ path('menu') }}">OU TROUVER LA MAMA</a></li>
                <li><a href="{{ path('menu') }}">KIDNAP MAMA</a></li>
                <li><a href="{{ path('menu') }}">BANGKOK EXPERIENCE</a></li>
                <li><a href="{{ path('menu') }}">BE A MAMA !</a></li>
            </ul>
        </div>
    </div>
</nav>

