{% set current_route = app.request.attributes.get("_route")%}

<nav class="navbar navbar-default" role="navigation">
    <div class="container navbar-container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{{ path('homepage') }}">
                <img class="hidden-xs" src="{{ asset("bundles/iodefault/images/logo.png") }}" alt="MamaStreet" />
                <span class="visible-xs">MAMA STREET</span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="header-navbar-collapse">
            <ul class="nav navbar-nav">
                <li{%if current_route == 'mama_responsable'%} class="active"{%endif%}>
                    <a href="{{ path('mama_responsable') }}"><strong>Mama responsable</strong></a>
                </li>
                <li{%if current_route == 'menu'%} class="active"{%endif%}>
                    <a href="{{ path('menu') }}"><strong>Authentic food</strong>Menus</a>
                </li>
                <li{%if current_route == 'trouver_mama'%} class="active"{%endif%}>
                    <a href="{{ path('trouver_mama') }}"><strong>Où trouver la mama</strong>Contact</a>
                </li>
                <li class="{%if current_route == 'kidnap_mama'%} active{%endif%}">
                    <a href="{{ path('kidnap_mama') }}"><strong>Kidnap mama</strong>Traiteur</a>
                </li>
                <li>
                    <a href="{{ path('menu') }}"><strong>Bangkok experience</strong>Blog</a>
                </li>
                {% if client %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <strong>Bonjour {{ client.user.identity.firstname|upper }}
                            <span class="caret"></span></strong>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                    </ul>
                </li>
                {% else %}
                    <li><a href="{{ path('login') }}"><strong>Be a mama !</strong>Connexion</a></li>
                {% endif %}
            </ul>
        </div>
        <img class="scotch hidden-sm hidden-xs" src="{{ asset("bundles/iodefault/images/scotch1.png") }}"/>
    </div>
</nav>
