{% set current_route = app.request.attributes.get("_route")%}

<nav id="site-header" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <img class="scotch" src="{{ asset("bundles/iodefault/images/scotch1.png") }}"/>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{{ path('homepage') }}">
                <img src="{{ asset("bundles/iodefault/images/logo.jpg") }}" alt="MamaStreet" />
            </a>
            <div class="header-btns container">
                <ul class="nav navbar-nav">
                    <li {%if current_route == 'mama_responsable'%} class="active" {%endif%}>
                        <a href="{{ path('mama_responsable') }}">MAMA<br/>RESPONSABLE</a></li>
                    <li {%if current_route == 'menu'%} class="active" {%endif%}>
                        <a href="{{ path('menu') }}">AUTHENTIC FOOD<br/>Menus</a></li>
                    <li {%if current_route == 'trouver_mama'%} class="active" {%endif%}>
                        <a href="{{ path('trouver_mama') }}">OU TROUVER<br/>LA MAMA<br/>Contact</a></li>
                    <li {%if current_route == 'kidnap_mama'%} class="active" {%endif%}>
                        <a href="{{ path('kidnap_mama') }}">KIDNAP MAMA<br/>Traiteur</a></li>
                    <li {%if current_route == 'menu'%} class="active" {%endif%}>
                        <a href="{{ path('menu') }}">BANGKOK EXPERIENCE<br/>Blog</a></li>
                    <li {%if current_route == 'menu'%} class="active" {%endif%}>
                        <a href="{{ path('menu') }}">BE A MAMA !<br/>Connexion</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

