<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">InnovOrder</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('homepage') }}"><i class="glyphicon glyphicon-home"></i> </a></li>
                <li><a href="{{ path('menu') }}"><i class="glyphicon glyphicon-cutlery"></i> La carte</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if client %}
                <li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bonjour {{ client.user.identity.firstname }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                    </ul>
                </li>
                {% else %}
                    <li><a href="{{ path('login') }}">Connexion</a></li>
                {% endif %}
                <li><a href="{{ path('order_recap') }}"><i class="glyphicon glyphicon-shopping-cart"></i> {{ cart.products|default([])|length }} article{% if cart and cart.products|length > 1 %}s{% endif %}</a></li>
            </ul>
        </div>
    </div>
</div>
