{% extends "IODefaultBundle::layout.html.twig" %}

{% block body_class %}body body-recap{% endblock body_class %}
{% block content %}
{% if cart and cart.validated %}
<div id="recap-panel" class="container">
    <div id="order_step">
        <ul>
            <li>Etape 1 : Mon panier</li>
            <li class="active">Etape 2 : Connexion</li>
            <li>Etape 3 : Paiement</li>
            <li>Etape 4 : Validation</li>
        </ul>
    </div>
</div>
{% endif %}
<div class="container">
    <div class="col-md-5 auth-block">
        <h2>Connexion</h2>
        <form method="POST" action="{{ path('login') }}" class="login-form">
            {{ form_errors(loginForm) }}
            <div class="form-group">
            {{ form_row(loginForm.email) }}
            </div>
            <div class="form-group">
            {{ form_row(loginForm.plainPassword) }}
            </div>
            {{ form_rest(loginForm) }}
            <a href="#">Mot de passe oublié</a>
            <button class="btn btn-default">Connexion</button>
        </form>
    </div>
    <div class="col-md-offset-1 col-md-6 auth-block">
        <h2>Inscription</h2>
        <form method="POST" action="{{ path('register') }}" class="register-form">
            {{ form_errors(registerForm) }}
            <div class="form-group">
            {{ form_row(registerForm.firstname) }}
            </div>
            <div class="form-group">
            {{ form_row(registerForm.lastname) }}
            </div>
            <div class="form-group">
            {{ form_row(registerForm.birthdate) }}
            </div>
            <div class="form-group">
            {{ form_row(registerForm.email) }}
            </div>
            <div class="form-group">
            {{ form_row(registerForm.plainPassword.first) }}
            </div>
            <div class="form-group">
            {{ form_row(registerForm.plainPassword.second) }}
            </div>
            {{ form_rest(registerForm) }}
            <button class="btn btn-default">Inscription</button>
        </form>
    </div>
</div>
{% endblock content %}
