{% extends "IODefaultBundle::layout.html.twig" %}

{% block body_class %}body body-recap{% endblock body_class %}
{% block content %}
{% if cart and cart.validated %}
<div id="recap-panel" class="container">
    <div id="order_step">
        <ul>
            <li>Etape 1 : Mon panier</li>
            <li class="active">Etape 2 : Connexion</li>
            <li>Etape 3 : Paiement</li>
            <li>Etape 4 : Validation</li>
        </ul>
    </div>
</div>
{% endif %}
<div  id="profile" class="container">
        <h2>Profil</h2>
        <form method="POST" action="{{ path('profile') }}" class="profile-form">
            {{ form_errors(form) }}
            <div class="col-md-6">
                <div class="form-group">
                {{ form_row(form.identity.firstname) }}
                </div>
                <div class="form-group">
                {{ form_row(form.identity.lastname) }}
                </div>
                <div class="form-group">
                {{ form_row(form.identity.email) }}
                </div>
                <div class="form-group">
                {{ form_row(form.identity.birthdate) }}
                </div>
                <div class="form-group">
                {{ form_row(form.identity.nationality) }}
                </div>
            </div>
            <div class="col-md-6">
            {% for phoneField in form.identity.phones %}
                <div class="form-group form-phone">
                    <label>Téléphone {{ loop.index }}</label>
                    {{ form_widget(phoneField.prefix) }}
                    {{ form_widget(phoneField.number) }}
                </div>
            {% endfor %}
            {% for addressField in form.identity.addresses %}
                <div class="form-group form-address-street">
                    <label>Numéro et nom de rue</label>
                    {{ form_widget(addressField.number) }}
                    {{ form_widget(addressField.street) }}
                </div>
                <div class="form-group form-address-city">
                    <label>Code postal et ville</label>
                    {{ form_widget(addressField.postcode) }}
                    {{ form_widget(addressField.city) }}
                </div>
                <div class="form-group">
                    {{ form_row(addressField.country) }}
                </div>
            {% endfor %}
            </div>
            <div class="clearfix"></div>
            {{ form_rest(form) }}
            <button class="btn btn-default">Enregistrer</button>
        </form>
    </div>
</div>
{% endblock content %}
