{% extends "IODefaultBundle::layout.html.twig" %}

{% block body_class %}
body body-traiteur
{% endblock body_class %}

{% block content %}
<div id="traiteur" class="main container">
    <div class="traiteur-info col-md-6">
        <img class="hidden-sm hidden-xs"
             src="{{ asset("bundles/iodefault/images/kidnap.png") }}"/>
        <h3><strong>Commandes Traiteur</strong></h3>
        <p>
            Lorem Ipsum portunum est, ut arbitror, explanare nunc causam, quae
            praecipitem Aginatium inpulit iam inde a priscis maioribus nobilem,
            ut locuta est pertinacior fama. nec enim super hoc ulla documentorum
            rata est fides.<br/>Accedebant enim eius asperitati, ubi inminuta
            vel laesa amplitudo imperii dicebatur, et iracundae suspicionum
            quantitati proximorum cruentae blanditiae exaggerantium incidentia
            et dolere inpendio simulantium, si principis periclitetur vita, a
            cuius salute velut filo pendere statum orbis terrarum fictis vocibus
            exclamabant.<br/>Intellectum est enim mihi quidem in multis, et
            maxime in me ipso, sed paulo ante in omnibus, cum M. Marcellum
            senatui reique publicae concessisti, commemoratis praesertim
            offensionibus, te auctoritatem huius ordinis dignitatemque rei
            publicae tuis vel doloribus vel suspicionibus anteferre. Ille quidem
            fructum omnis ante actae vitae hodierno die maximum cepit, cum summo
            consensu senatus, tum iudicio tuo gravissimo et maximo. Ex quo
            profecto intellegis quanta in dato beneficio sit laus, cum in
            accepto sit tanta gloria.
        </p>
    </div>
    <div class="traiteur-form col-md-6">
        <h3><strong>Commande traiteur</strong></h3>
        <form method="POST" action="{{ path('kidnap') }}">
            {{ form_errors(form) }}
            <div class="form-group">
            {{ form_row(form.firstname) }}
            </div>
            <div class="form-group">
            {{ form_row(form.lastname) }}
            </div>
            <div class="form-group">
            {{ form_row(form.email) }}
            </div>
            <div class="form-group">
            {{ form_row(form.date) }}
            </div>
            <div class="form-group">
            {{ form_row(form.number) }}
            </div>
            <div class="form-group">
            {{ form_row(form.adress) }}
            </div>
            <div class="form-group">
            {{ form_row(form.description) }}
            </div>
            {{ form_rest(form) }}
            <button class="btn btn-default btn-sm">Valider</button>
        </form>
    </div>
</div>
{% endblock content %}